.borderL
{
	border:10px groove;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;	
	border-top-right-radius: 100px 50px;	
	border-bottom-left-radius: 100px 47px;
	padding: 40px 20px;

	transition-property: all;
	transition-duration: 5s;
	transition-timing-function: ease;
}

img
{
	max-width: 100%;
}

.button-wrap {
    width: 58%;
}
.border-wrap {
    padding: 10px;
    margin: 10px;
}
.block-button {
	border-radius: 0px !important;
	border-width: 1px !important;
}
.widthWrap {
	width: 100%;
}
.border-wrap input {
	margin: 0px;
}
.maxWidth {
	max-width: 400px;
}
.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.error {
    color:red;
}
form label.error {
	display: none;
}
#loader {
	position: fixed;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	z-index: 5000;
}

#fader {
	position: fixed;
	background: black;
	opacity: 0.8;	
	width: 150%;
	height: 150%;
	margin-top: -25%;
	margin-left: -25%;
	z-index: 4000;
}

#ErrorMsg {
	background: silver;
	opacity: 0.8;
	border-radius: 10px;
	position: fixed;
	width: 60%;
	top: 25%;
	left: 50%;
	margin-left: -30%;
	z-index: 6000;
}

#ErrorMsg button {
	background: white;
	border-radius: 50px;
	opacity: 1;
	position: fixed;
	width: 40px;
	height: 40px;
	left: 50%;
	margin-left: -20;
	top: 15%;
}

#ErrorMsg label {
	padding: 1px;
	display: block;
	color: black;
	padding: 10px;
}